html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif TC";
  font-weight: 500;
  background-color: #B4CDE6;
  color: #434242;
  overflow-x: hidden;
}

/* Navigation section */

.banner-image {
  background-image: url("../images/welcomeBg-image.jpg");
  background-size: cover;
}

.title {
  font-size: 5rem;
  padding-left: 8%;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
  font-size: 5rem;
  padding-left: 8%;
  padding-top: 18%;
}

.quoteFirstLine {
  padding-top: 3%;
  padding-left: 8%;
  font-size: 2rem;
}

.quoteSecondLine {
  padding-left: 8%;
  font-size: 2rem;
}

.navbar {
  height: 90px;
}

.nav-item {
  font-size: 1.5rem;
}

.logoImageTop {
  height: 70px;
}

.nav-item a {
  color: #434242;
  padding-right: 200px;
}

.nav-item a:hover {
  color: #22A39F;
}

/* Services section */

.container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin: 100px auto 50px;
}
.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.card {
  width: 25%;
  background: #fff;
  margin-bottom: 50px;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 20px;
}

.card-header {
  text-align: left;
  padding: 50px 10px;
  background: white;
  color: #434242;
}

.card-header h4 {
  font-size: 2rem;
}

.card-body {
  padding: 0;
}

.image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.25);
}

/* button */
.myButton {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #434242;
  font-family: "Noto Serif TC";
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 20px 0 #434242;
  -moz-box-shadow: 1px 1px 20px 0 #434242;
  box-shadow: 1px 1px 20px 0 #434242;
  text-shadow: 1px 1px 20px #434242;
  border: solid #434242 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-left: 47%;
  margin-bottom: 5%;
}

.myButton:hover {
  background: #434242;
  border: solid #434242 1px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-decoration: none;
  color: white;
}

/* testimonials section */

#carouselExampleCaptions {
  margin-bottom: 5%;
}

.carousel-item {
  height: 30rem;
  background: #002B5B;
  color: white;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.carousel-caption {
  position: absolute;
  bottom: 10vh;
  font-size: 2rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin-bottom: 2%;
}

/* footer section */

table {
  border-collapse: collapse;
  width: 80%;
  margin: 5% 16%;
}

td, th {
  text-align: left;
  padding: 8px;
  padding-left: 70px;
}

.verticalLine {
  border-right: 1px solid black;
}

.copyrightLine {
  margin-left: 44%;
  margin-bottom: 5%;
}

/* about section */

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 95%;
  margin: auto;
  margin-top: 10%;
}

.about .img {
  flex: 1 1 42rem;
  padding-bottom: 5rem;
  padding-right: 5 rem;
  padding-top: 3rem;
}

.about .img img {
  width: 100%;
  height: 55vh;
  box-shadow: 2rem 2rem #eee;
  overflow: hidden;
  border-radius: 10px;
}

.about .content {
  flex: 1 1 42rem;
}

.box1 {
  margin-left: 50px;
}

.box2 {
  padding-left: 30px;
  margin-right: 30px;
}

.about .content .box {
  padding: 2rem;
  background: #eee;
  border-radius: 10px;
}

.about .content .box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.25);
}

.about .content .box h2 {
  font-size: 2.5 rem;
  color: #222;
  font-weight: bold;
}

.about .content .box p {
  padding: 1rem 0;
  line-height: 1.5;
  color: #666;
  font-size: 1.4rem;
}

.about .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 2rem;
  margin-top: 2rem;
}

.about .content .icons-container .icons:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.25);
}

.about .content .icons-container .icons {
  flex: 1 1 10rem;
  background: #eee;
  padding: 2 rem;
  text-align: center;
  border-radius: 10px;
}

.about .content .icons-container .icons i {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.about .content .icons-container .icons p {
  font-size: 1rem;
  color: #666;
}

/* price services section  */

#price-services-section {
  margin-top: 2%;
  margin-bottom: 5%;
}

.priceServicesTitle {
  margin-bottom: 4%;
  font-size: 50px;
  padding-top: 5%;
  font-weight: bold;
  text-align: center;
}

.mininav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.mininav {
  position: relative;
  display: flex;
}

.mininav .navLink {
  position: relative;
  margin: 0 20px;
  font-size: 2em;
  color: #000;
  text-decoration: none;
}

.mininav #marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background: #000;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 4px;
}

/* .miniNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniNav a{
  position: relative;
  text-decoration: none;
  color: #434242;
  font-size: 25px;
  letter-spacing: 0.5px;
  margin: 0 40px;
}

.miniNav a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.miniNav a:hover {
  color: black;
}

.miniNav a:hover:after {
  width: 100%;
} */

.container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.card {
  width: 28%;
  background: #fff;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-top {
  padding: 0;
}

.card-bottom {
  text-align: center;
  line-height: 2rem;
  padding: 0;
  background: white;
  padding: 30px;
}

.card-bottom h4 {
  font-size: 1.3rem;
}

.image {
  width: 100%;
}

.firstImage {
  height: 95%;
}

.secondImage {
  height: 95%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.25);
}

.myButton-gel {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #434242;
  font-family: "Noto Serif TC";
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 10px 0 #434242;
  -moz-box-shadow: 1px 1px 10px 0 #434242;
  box-shadow: 1px 1px 10px 0 #434242;
  text-shadow: 1px 1px 10px #434242;
  border: solid #434242 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 10%;
}

.myButton-gel:hover {
  background: #434242;
  border: solid #434242 1px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-decoration: none;
  color: white;
}

/* gallery section  */

.galleryHeading {
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
  color: #434242;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

.gallerySlider {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}

.slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
}

.slider span:hover img {
  transform: translateY(-20px) scale(1.2);
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.gallery .galleryTitle {
  width: 50%;
  padding-bottom: 50px;
}

.gallery .galleryTitle h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.gallery .galleryTitle h3 span {
  font-weight: 100;
}

.gallery .boxGalleryImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery .boxGalleryImage .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.gallery .boxGalleryImage .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

/* Login section  */

.bg-img{
  background: url('../images/loginImages2.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.loginContent{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  margin-top: 2.5%;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.loginContent header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.pass-key:valid ~ .show{
  display: block;
}
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
.signup a{
  color: #3498db;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .subtitle {
    padding-top: 60%;
    padding-left: 20%;
    font-size: 4rem;
  }

  .title {
    font-size: 4rem;
    padding-left: 20%;
  }

  .quote {
    font-size: 1.5rem;
    padding-left: 20%;
  }

  .card {
    width: 43%;
  }

  .myButton {
    margin-left: 43%;
    margin-bottom: 20%;
  }

  .card-bottom h4 {
    font-size: 1.3rem;
  }

  .carousel-caption {
    font-size: 1.5rem;
  }

  .carousel-item {
    height: 19rem;
  }
}

@media screen and (max-width: 620px) {
  .navbar {
    height: 150px;
  }

  .subtitle {
    padding-top: 90%;
    padding-left: 20%;
    font-size: 2rem;
  }

  .title {
    font-size: 3rem;
    padding-left: 20%;
  }

  .quote {
    font-size: 1.2rem;
    padding-left: 20%;
  }

  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }

  .card-bottom h4 {
    font-size: 1.5rem;
  }

  .myButton {
    margin-left: 36%;
    margin-bottom: 20%;
  }

  .carousel-item {
    height: 21rem;
  }

  .carousel-caption {
    font-size: 1.5rem;
  }

}

/* gallery page responsive  */

@media only screen and (max-width: 769px){
  .gallery .boxGalleryImage {
    flex-direction: column;
  }

  .gallery .boxGalleryImage .dream {
    width: 100%;
  }
}

@media only screen and (max-width: 643px){
  .gallery .galleryTitle {
    width: 100%;
  }
  
  .gallery .galleryTitle h3 {
    font-size: 1em;
  }
}